/* main style sheet for jQuery Salary Calculator assignment */

h1 {
    text-align: center;
    background-color: cadetblue;
    padding-top: 30px;
    margin-top: 0;
    padding-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    color: white;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

#inputSection input {
    margin-left: 115px;

}

#inputSection label {
    position: absolute;
}

#submitBtn {
    background-color: cadetblue;
    color: white;
    padding: 2px 7px;
}

input {
    width: 150px;
}

table {
    width: 100%;
}

table, th, td, tr {
    border: 1px solid black;
}

.deleteColumn {
    text-align: center;
}

.deleteBtn {
    background-color: cadetblue;
    color: white;
    padding: 2px 7px;
}

#monthlyTotal{
    float: right;
    padding: 5px;
}

.lowMonthlySalary {
    background-color: white;
}
.highMonthlySalary {
    background-color: orangered;
    color: white;
}

th {
    background-color: #9fc4c6;
}

tr:nth-child(odd) {
    background-color:#dfebec;
    ;
}